<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 후 페이지</title>
  </head>
  <body>
    <h1>로그인 후 페이지</h1>

    <% if (user) { %>
    <p>안녕하세요, <strong><%= user.username %></strong>님!</p>
    <a href="/logout">로그아웃</a>
    <% } %>
  </body>
</html>
